.add-form {
  height: 88vh;
  width: 180vh;
  margin: 0 auto;
  position: relative;
  top: 12px;
}

form {
  width: 90%;
  height: 90%;
  background-color: aqua;
  margin: 10px auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  .form-left,
  .form-right {
    width: 45%;
    height: 80%;
    margin: 0 auto;
    background-color: chocolate;
    input {
      padding: 10px;
      font-size: 12px;
      width: 400px;
    }
  }
}
