@mixin center-div {
  display: flex;

  justify-content: space-between;
  align-items: center;
}
@mixin no-space-text {
  margin: 0px;
  padding: 0px;
}
.nav-side {
  width: 77%;
  height: 9vh;
  background-color: aqua;
  position: fixed;
  float: right;
  right: 20px;
  top: 2.5%;
  border-radius: 12px;
  @include center-div();
  padding-left: 30px;
  padding-right: 40px;

  p {
    padding: 30px;
    font-size: 20px;
    font-weight: bold;
    font-family: monospace;
  }
  .menu {
    width: 120px;
    height: 90%;
    background-color: azure;
  }
}
