.side-bar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.side-info {
  width: 25%;
  background-color: aqua;
  height: 95vh;
  position: fixed;
  top: 2.5%;
  left: 20px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}
