.side-bar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 25%;
  height: 95vh;
  position: fixed;
  top: 2.5%;
  left: 20px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  background-color: aqua;
  .side-info {
    width: 80%;
    height: 33%;
    background-color: blueviolet;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    h4 {
      margin: 0px;
      padding: 0px;
    }
    .user-profile {
      width: 75%;
      height: 60%;
      background-color: aliceblue;
      img {
        width: 100px;
        height: 100px;
        border-radius: 50%;
        background-color: aquamarine;
      }
    }
  }
  .side-menu {
    width: 80%;
    height: 52%;
    background-color: blueviolet;
  }
  .side-logout {
    width: 80%;
    height: 10%;
    background-color: blueviolet;
  }
}
